/* Grid Stuff */

.row {
  min-height: 1px;
  margin: 0 auto;
  // max-width: 940px;
  width: 85%;
}

.col-1,
.col-2,
.col-quarter {
  float: left;
  margin-bottom: 18px;
}

.col-1 {
  width: 34.6%;
  margin-right: 2%;
}

.col-2 {
  margin-right: 2%;
  width: 63.5%;
}

.col-3 {
  width: 100%;
}

.col-third {
  width: 33%;
  margin-right: 2%;
}

.col-quarter {
  width: 23.4%;
  margin-right: 2.1%;
}

/* col-2 is on the right */

.col-1 + .col-2,
.col-2 + .col-1,
.col-1 + .col-1 + .col-1,
.col-quarter + .col-quarter + .col-quarter + .col-quarter {
  margin-right: 0;
}

.col-1 + .col-2 {
  width: 63.31%;
}
.col-2 + .col-1 {
  width: 34.5%;
}