<div class="codeSample">
	<div class="titleBar">
		<ul class="buttons">
			<li class="red"></li>
			<li class="yellow"></li>
			<li class="green"></li>
		</ul>
		<span class="title">untitled</span>
	</div>

	<div class="folders">
		<h2>Folders</h2>
		<ul>
			<li class="dir expanded"><span>folder</span>
				<ul>
					<li class="dir"><span>css</span>
						<ul>
							<li class="file" data-target="tabOne">app.css</li>
						</ul>
					</li>
					<li class="dir expanded"><span>js</span>
						<ul>
							<li class="file"  data-target="tabTwo">site.js</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="content">
		<div class="editable">
			<!-- content -->
		</div>
		<div class="minimap">
			<div class="highlight"></div>
			<!-- content again -->
		</div>
	</div>

	<div class="clear"></div>
	<div class="footer">
		<span class="lineCol"><!-- Line 123, Column 56 --></span>
		<span class="fileType"><!-- JavaScript --></span>
	</div>

</div>